# IntelliJ
*.ipr
*.iml
*.iws
.idea/

#
# Eclipse metadata.
#
.mymetadata
.project
.classpath
.settings/
.myeclipse/

#
# Eclipse and Maven idea output folders.
#
bin/
target/
out/
*.class
.svn/
build/

app/dal/generator_error.log
logs/
cache/